---

---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="refresh" content="3; url=/legacy/" />
    <title>Portfolio</title>

    <style>
      main {
        padding: 1em 0 0 1.5em;
      }

      .jp {
        margin-bottom: 0;
      }
      .en {
        margin-top: 0;
        margin-bottom: 2em;
      }
    </style>
  </head>
  <body>
    <main>
      <p class="jp">新しいページを準備中です。もうしばらくお待ちください...。</p>
      <p class="en">I'm working on a new page. Please wait a moment...</p>

      <p class="jp">3秒後にリダイレクトされます。</p>
      <p class="en">You will be redirected to the legacy page in 3 seconds.</p>

      <p class="jp">もしリダイレクトされない場合は、<a href="/legacy">こちら</a>からお願いします。</p>
      <p class="en">If you are not redirected, you can find my old page <a href="/legacy">here</a>.</p>
    </main>
  </body>
</html>
