---
import { LinkCard, CardGrid } from '@astrojs/starlight/components';
import fs from 'fs';
import path from 'path';

const dictDir = path.resolve(process.cwd(), 'src/content/docs/notes/blogs');
const filenames = fs.readdirSync(dictDir);
---

<CardGrid>
    { filenames.length > 0 ? (
        filenames.map((filename) => (
            <LinkCard
                title={`${filename.replace('.md', '')}`}
                description=""
                href={`../notes/blogs/${filename.toLowerCase().replace('.md', '').replaceAll(' ', '-')}`}
            />
        ))
    ) : (
        <p>No files found in the logs directory.</p>
    )}
</CardGrid>