@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Ubuntu+Sans+Mono:ital,wght@0,400..700;1,400..700&display=swap');

:root {
    --sl-font: 'Ubuntu Sans Mono', 'Noto Sans JP', serif;
}

code[dir="auto"], p, ul>li{
    font-size: calc(0.3vw + 18px);
}

b {
    font-size: calc(0.3vw + 24px);
}

br {
    height: 5vh;
}