---
---

<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <title><slot name="title" /></title>
	<link rel="stylesheet" href="/styles/style.css">
	<link rel="stylesheet" href="/styles/katex.css">
	<link rel="stylesheet" href="/styles/problem.css">
  </head>
  <body>
    <main><slot /></main>
  </body>
</html>